version: 2.1


orbs:
  codecov: codecov/codecov@3.2.4


jobs:
    check_code_quality:
        docker:
            - image: cimg/python:3.14
        steps:
            - checkout
            - restore_cache:
                keys:
                  - v1-dependencies-{{ checksum "uv.lock" }}
            - run:
                name: Install uv
                command: pip install --user uv
            - run:
                name: Install dependencies
                command: uv sync --group dev --no-install-project
            - save_cache:
                paths:
                  - ~/.cache/pip
                  - ~/.cache/uv
                key: v1-dependencies-{{ checksum "uv.lock" }}
            - run: 
                name: Run quality tests
                command: make quality

    run_tests:
        docker:
            - image: cimg/python:3.14
        steps:
            - checkout
            - restore_cache:
                keys:
                  - v1-dependencies-{{ checksum "uv.lock" }}
            - run:
                name: Install dependencies
                command: make init
            - save_cache:
                paths:
                  - ~/.cache/pip
                  - ~/.cache/uv
                key: v1-dependencies-{{ checksum "uv.lock" }}
            - run:
                name: Run tests
                command: make test-ci
            - run:
                name: Install static type checker
                command: npm ci
            - run:
                name: Run static type checking
                command: make types
            - codecov/upload:
                file: coverage.xml


workflow_filters: &workflow_filters
    filters:
        branches:
            only:
                - master
                - feat/circleci


workflows:
    build_and_test:
        jobs:
            - check_code_quality
            # Tests cannot be run on free tier due to OOM at build/install
            #- run_tests 
